
  <!-- Links -->

  <!--   <li class="nav-item">
      <a  routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
  </li>-->
   
  <div class="nav-item" style="float:right">
    <a  routerLink="home" class="nav-link" routerLinkActive="active"><p style="float:right">Logout</p></a>
  </div>
  

<div class="container" style="background-color: rgb(138, 183, 224);">
  <br>
  <h2 style="text-align: center;color:blue">Property Search</h2>
  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

