<div class="panel panel-primary">
    <div class="panel-heading">
      <h2 style="color:rgb(197, 194, 18)">Author Book List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>  
            <th>Reader Mail-ID</th>
            <th>Action</th> 
            <th>Remove</th>      
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of subscribers | async">
            <td>{{book.name}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>  
            <td>{{book.mailid}}</td>   
            <td><button *ngIf="book.block == 1" (click)="unblockBook(book.id)" class="btn btn-primary">Unblock</button>
              <button *ngIf="book.block == 0"(click)="blockBook(book.id)" class="btn btn-warning">Block</button>
              
          </td>
          <td><button (click)="deleteSubscriber(book.id)" class="btn btn-danger">Delete</button>
        </td>
          <!-- <td><button (click)="deleteSubscriber(book.id)" class="btn btn-danger">Delete</button>
              <button (click)="subscriberDetails(book.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>   --> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
